*{
    margin: 0;
    padding: 0;

}

.main{
    width: 120%;
    background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(jp5.jpg);
    background-position: center;
    background-size: cover;
    height: 120vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: red;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;

}

.btn{
    width: 40%;
    height: 120px;
    background: rgb(8, 8, 8);
    border: 5px solid rgb(8, 8, 8);
    margin-top: 13px;
    color: rgb(249, 249, 253);
    font-size: 40px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background: linear-gradient(to top,rgba(0,0,0,0.5)20%,rgba(0,0,0,0.5)20%);
    position: absolute;
    top: 800px;
    left: 600px;
    

}

.hide-bg{
    mix-blend-mode: multiply;
    width: 30%;
    left: 300px;
    position: absolute;
}
